* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: row;
    align-items: top;
    padding: 5px;
    background-image: url("./images/IMG_0054.JPG");
    background-size: cover;
    /* background-clip: border-box; */
    background-repeat: no-repeat;
    background-position: center;
    background-color: darkslategrey;
    font-family: sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
}

nav {
    /* Layout / flex Properties */
    max-width: 200px;
    max-height: 600px;
    height: 99%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border-radius: 25px;
    justify-content: space-around;
    align-items: center;
    /* Text Options */
    color: white;
    font-size: 1.5em;
    /* Background Color Options */
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    li {
        width: 100%;
        text-align: center;
    }

    img {
        width: 80%;
        border-radius: 15px;
    }

    div {
        display: flex;
        flex-direction: column;
    }
}
main {
    
    flex: 8 0.5 1;
    /* max-width: 1300px; */
    max-height: 100%;
    overflow: hide;
    margin: 0px;
    padding: 10px;

    .content-container {
        /* layout options */
        margin: 0;
        width: auto;
        padding: 15px;
        height: auto;
        max-height: 95%;
        overflow-y: scroll;
        overflow-x: hide;
        /* background color and transparency */
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(4px);
        /* border and shadow */
        border-top: solid rgba(0,0,0,0.5) 1px;
        border-left: solid rgba(0,0,0,0.5) 1px;
        border-radius: 25px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        /* text formatting */
        color: black;
        text-align: justify;
        /* hide the scrollbar when overflowing */
        scrollbar-width: none;
        -ms-overflow-style: none;

        h2 {
            text-align: center;
            font-size: 2rem;
            -webkit-text-fill-color: white;
            -webkit-text-stroke: 2px;
        }

        table {
            width: auto;
            margin: auto;
        }

        td {
            padding: 25px;

            a, a:visited {
                text-decoration: none;
                color: inherit;
            }
        }
    }

    .content-container::-webkit-scrollbar {
        display: none;
    }

    #home-container {
        max-width: 1500px;
        border: none;
        box-shadow: none;
        display: inline-block;
        backdrop-filter: none;
        background-color: transparent;
        text-align: left;
        font-size: 8rem;
        -webkit-text-fill-color: rgba(255, 255, 255, 0.3);
        -webkit-text-stroke: 3px;

        h1 {
            font-size: 8rem;
        }

        section {
            display: inline-block;
            -webkit-text-fill-color: rgba(0, 191, 255, 0.7);
            
        }
    }
}

#portfolio-tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.project-tile {
    max-height: 600px;
    width: fit-content;
    max-width: 300px;
    border-top: solid rgba(0,0,0,0.5) 1px;
    border-left: solid rgba(0,0,0,0.5) 1px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 10px;
    background-color:white;

    h3 {
        text-align: center;
    }
}
.project-link-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    a {
        flex-basis: 45%;
        text-align: center;
        align-content: center;
        height: 2rem;
        border: solid rgba(0, 0, 0, 0.5) 1px;
        border-radius: 1rem;
        margin: 5px;
        text-decoration: none;
        color: black;
        box-shadow: inset -1px -1px 5px black;
    }
}